doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style.css')
  title Registration 
  nav
          .logo
            a(href='promo')
              img(src='logo.png', alt='логотип')
          .menu
            ul
              li
                a(href='reg') &Tcy;&ocy;&vcy;&acy;&rcy;&ycy;
              li
                a(href='enter') &Scy;&tcy;&acy;&tcy;&icy;&scy;&tcy;&icy;&kcy;&acy;
              li
                a(href='promo') &Pcy;&rcy;&ocy;&mcy;&ocy;
          .registration
          a(href='/')
            img(src='reg.png')




            div.block1
                      div.text8 Размер L <br><br> <div class="a12">S       M       L</div><br>  800 руб. <br><br> Доставка Почтой 19 мар – 236,05 руб. <br> Пункты выдачи 10 мар – 236,05 руб.
  .prod7
  p.prod8 Футболка с логотипом на заказ для мужчин и женщин, 100% хлопок, <br>европейские размеры
    h4.nad 
    p.prod5
     img.th5(src='fot2.png')
     a(href='/').botonn4 В корзину
      a(href='/').botonn5 Купить




  main
          section#basement.dark-basementt
            .social-media
              p Мы в соцсетях:
              
              a(href='https://vk.com') ВКонтакте
              br
              a(href='https://ok.ru') Одноклассники
              br
              a(href='https://youtube.com') YouTube
              br
              a(href='https://ok.ru') Журнал для покупателей
              br
              a(href='https://ok.ru') Телеграмм
            .copywriter
              div cloThes
              p © 2010-2023
              .social-media2
                p Покупателям:
                  br
                  a Поддержка
