doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style.css')
  title Document
<body>
  nav
      .logo
        a(href='promo')
          img(src='logo.png', alt='логотип')
      .menu
        ul
          li
            a(href='reg') &Tcy;&ocy;&vcy;&acy;&rcy;&ycy;
          li
            a(href='enter') &Scy;&tcy;&acy;&tcy;&icy;&scy;&tcy;&icy;&kcy;&acy;
          li
            a(href='promo') &Pcy;&rcy;&ocy;&mcy;&ocy;
      .registration
      a(href='/')
         img(src='reg.png')



div.block
  .prod
  p.prod1 Продажа одежды
    h4.nad Бесплатная доставка + рассрочка платежа
    p.prod2
      | Футболка - L
      br
      br
      | Рыночная цена - 900р
      br
      br
      | Наша цена - 500р
      img.th(src='t-short.png')
    strong.prod3 ЭКОНОМИЯ - 44%
    a(href='#').boton Подробнее




  main
        section#basement.dark-basement
          .social-media
            p Мы в соцсетях:
            
            a(href='https://vk.com') ВКонтакте
            br
            a(href='https://ok.ru') Одноклассники
            br
            a(href='https://youtube.com') YouTube
            br
            a(href='https://ok.ru') Журнал для покупателей
            br
            a(href='https://ok.ru') Телеграмм
          .copywriter
            div cloThes
            p © 2010-2023
            .social-media2
              p Покупателям:
                br
                a Поддержка
</body>
</html>