doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style.css')
  title 
  nav
          .logo
            a(href='promo')
              img(src='logo.png', alt='логотип')
          .menu
            ul
              li
                a(href='reg') &Tcy;&ocy;&vcy;&acy;&rcy;&ycy;
              li
                a(href='enter') &Scy;&tcy;&acy;&tcy;&icy;&scy;&tcy;&icy;&kcy;&acy;
              li
                a(href='promo') &Pcy;&rcy;&ocy;&mcy;&ocy;
          .registration
          a(href='/')
            img(src='reg.png')




            div.block1
  .prod7
  p.prod4 Посмотреть все товары
    h4.nad 
    p.prod5

     img.th1(src='fot1.png')
     img.th2(src='fot2.png')
     img.th3(src='fot3.png')
     img.th4(src='fot4.png')
     div.text1 900руб  <br> Джинсы мужские - <br>размер L
      div.text2 800руб  <br> Футболка унисекс - <br>  размер M
       div.text3 1000руб  <br> Кофта мужская - <br>Размер L
        div.text4 2200руб  <br> Куртка мужская - <br>размер XL
        a(href='onepiece').botonn В корзину
        a(href='onepiece').botonn1 В корзину
        a(href='onepiece').botonn2 В корзину
        a(href='onepiece').botonn3 В корзину



  main
          section#basement.dark-basementt
            .social-media
              p Мы в соцсетях:
              
              a(href='https://vk.com') ВКонтакте
              br
              a(href='https://ok.ru') Одноклассники
              br
              a(href='https://youtube.com') YouTube
              br
              a(href='https://ok.ru') Журнал для покупателей
              br
              a(href='https://ok.ru') Телеграмм
            .copywriter
              div cloThes
              p © 2010-2023
              .social-media2
                p Покупателям:
                  br
                  a Поддержка